.About {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 4% 10%;
  background-color: #dfe3e3;
  text-align: justify;
}


.about-me {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

@media(max-width: 425px) {
  .About h1 {
    font-size: 2.3rem;
  }

  .About p {
    font-size: 1rem;
  }
}
