.About {
  height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    background-color: #dfe3e3;
}


.about-me {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

