@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  z-index: 111;
  line-height: 80px;
  position: fixed;
  overflow: hidden;
  background-color: #f3f5f8e6;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

b {
  font-size: 70px;
  color: #7f00ff;
}

.navItems {
  display: flex;
}

.navItems li {
  list-style: none;
  margin: 0 15px;
}

.navItems li a {
  font-size: 20px;
  color: #3d535f;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}

.navItems li:hover a, .links a:hover {
  color: #7f00ff;
}

.links a {
  font-size: 25px;
  color: #3d535f;
  margin: 25px 10px;
  transition: 0.4s;
}