@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  z-index: 111;
  line-height: 80px;
  position: fixed;
  overflow: hidden;
  background-color: #f3f5f8e6;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

b {
  font-size: 70px;
  color: #00d9ff;
}

.navItems {
  display: flex;
}

.navItems li {
  list-style: none;
  margin: 0 15px;
}

.navItems li a {
  font-size: 20px;
  color: #3d535f;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}

.navItems li:hover a, .links a:hover {
  color: #86c4dd;

  font-size: 1.4rem;
}

.links a {
  font-size: 25px;
  color: #3d535f;
  margin: 25px 10px;
  transition: 0.4s;
}

.nav_btn {
  color: #3d535f;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

}

.nav_btn svg {
  transition: .4s;
}
/* drop items  */

.dropDown_Items {
 display: none;
 height: 0;
 width: 100%;
}

.dropDown_Items.open{
  min-height: 100vh;
 }

.dropDown_Items li {
  list-style: none;

}
.dropDown_Items li a{
  display: flex;
  height: fit-content;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  width: fit-content;
  transition: 0.4s;
}


@media(max-width: 1100px) {
  .navItems li a, .links a{
    font-size: 1rem;
  }

  .logo {
    font-size: 1.3rem;
  }

  .logo b{
    font-size: 3rem;
  }
}

@media(max-width: 900px) {
  .logo, .nav_Bar ul, .navItems li a, .links a{
    display: none;
  }
  nav {
    height: 60px;
  }

  .nav_Bar.open{
    display: block;
    overflow: visible;
    background-color: #3d535f63;
    backdrop-filter: blur(6px);
    min-height: 100%;
    line-height: normal;
  }

  .nav_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    right: 10%;
    position: absolute;
    margin-top: 20px;
    padding: 0;
    background: none;
    background-color: transparent;
    box-shadow: none;
  }

  .nav_btn:hover {
    background-color: transparent;
  }
  .nav_btn svg:hover {
    fill: #C8DBD5;
  }
  .close-btn {
    display: none;
  }

  .dropDown_Items.open{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .dropDown_Items.open a:hover {
    color: #00d9ff;
    font-size: 1.4rem;
  }
  
}