.Skil {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  justify-content: center;
}

.Skils {
  background-color: #667c85;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}

span {
  font-size: 40px;
}
.Skils i {
  font-size: 50px;
  justify-content: space-between;
  display: flex;
  transition: 0.4s;
}

.Skils i:hover {
  transform: scale(115%);
  color: #EBB75B;
}

